html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
.logo {
    position: fixed;
    left:0;
    top:0;
    
}
body {
    padding-top: 2em;
    background-color: #b5e2c3;
    font-family: Georgia, serif;
}
h1 {
    top:0;
    left:0;
    width: 100%;
    position: center;
    margin: 10px; 
    font-size: 2em;
    text-align: center;
    color:rgb(70, 97, 46);
}
h2 {
    text-align: center;
    color: #9ea27c;
}
li {
    list-style-type: none;
    text-align: left;
}
a:link {
    color:rgb(90, 139, 69)
}
a:hover {
    color:rgb(20, 50, 8);
}
a:visited {
    color:rgb(141, 63, 63)
}
section {
    background: rgb(232, 255, 212);
    margin: 10px;
    padding: 20px;
    border: 1px dotted rgba(240, 247, 218, 0.829);
    display: flex;
    flex-direction: column;
    align-content: center;
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
    }

    @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }

    @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }

    @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }

    @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }

    @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }
    
#helpful_links {
    border: 3px solid rgba(240, 247, 218, 0.829);
    display: flex;
    align-items: stretch;
    flex-flow: row wrap;
    justify-content: center;
}
.collapsible {
    background-color: #9ea27c;
    margin: 0.2px;
    color: white;
    cursor: pointer;
    padding: 18px;
    border-color:#b5e2c3;
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-family: Georgia, serif;
}
.active, .collapsible:hover {
    background-color: #586347;
}

.content {
    padding: 0px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #b5e2c3; 
    text-align: left;
}


